body {
    font-family: Arial, sans-serif;
    background-color: #04ff00;
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: rgb(1,1,255)
}

p {
    color: rgb(255,1,1)
}
ul {
    list-style-type: none;
    padding: 0;
    color: rgb(225,0,0);
}

li {
    background: rgb(255, 0, 0);
    color: rgb(1,1,255);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

form {
    margin-top: 20px;
}

button {
    background: rgb(255, 1, 1);
    color: rgb(1, 1, 255);
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

nav {
    margin-left: 10px;
    margin-top: 10px;
    padding: 50 px;

}

.title_bar {
    margin-left: 1px;
    margin-top: 10px;
    padding: 50px;
}


.create {
    background-color: rgb(232, 5, 5);
    color: rgb(1,255,1);
}

.login {
    background: rgb(255, 1, 1);
    color: rgb(1, 1, 255);
    border-radius: 3px;
}

.login:hover {
    cursor: pointer;
    opacity: 0.8;
}

.login:active {
    opacity: 0.5;
}

.sidebar {
    height: 100vh;
    width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 255);
    padding-top: 20px;
  }
  

.task {
    padding: 10px;
    background-color: rgb(255, 0, 0);      
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
  }
  
.task--completed {
    background-color: rgb(255, 0, 0);        
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.75;
  }
  
.task--completed:hover {
    opacity: 1;
  }
  
.task__header {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
.task__type {
    font-weight: normal;
    font-size: 0.9em;
    color: rgb(102, 102, 102);                  
  }
  
.task__body {
    margin-top: 6px;
  }
  
.task__actions {
    margin-top: 10px;
    align-items: center;  
    gap: 6px;
    margin-top: 5px;
  }
  
.task__badge {
    display: inline-block;
    background-color: rgb(212, 237, 218);        
    color: rgb(21, 87, 36);                    
    padding: 3px 6px;
    font-size: 0.85em;
    border-radius: 4px;
  }

#calendar {
    
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    
}


.calendar-grid, .week-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1em;
    margin: 1em 0;
  }
  
  .calendar-cell {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    min-height: 100px;
  }
  
  .calendar-cell.today {
    border: 2px solid #007bff;
    background-color: #e0f5ff;
  }
  
  .task-badge {
    background-color: #41ff07;
    color: #212529;
    border-radius: 4px;
    padding: 0.3em;
    margin-top: 0.3em;
    font-size: 0.9em;
  }
  
  .exam-badge {
    background-color: #17a2b8;
    color: #fff;
    border-radius: 4px;
    padding: 0.3em;
    margin-top: 0.3em;
    font-size: 0.9em;
  }

.task-badge_empty{
    background-color: #ffc107;
    color: #212529;
    border-radius: 4px;
    padding: 0.3em;
    margin-top: 0.3em;
    font-size: 0.9em;
}