<!DOCTYPE html>
<html>
  <head>
    <title>Studura Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/index.global.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/index.global.min.js"></script>
  </head>
  <body>
    <nav>
        <a href = "/home"><button>Home</button></a>
    </nav>
    <div id="calendar"></div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: {{ calendar_tasks|safe }}
        });
        calendar.render();
      });
    </script>
  </body>
</html>