<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <form action="/home/create/exam" method="POST" class = 'create'>
        <label for="exam">Exam Name:</label>
        <input type="text" id="exam" name="exam" required><br><br>

        <label for="type">Normal</label>
        <input type="checkbox" id="type" name="type"><br><br>

        <label for="subject">What Subject?</label>
        <input type="text" id="subject" name="subject" required><br><br>

        <label for="revision">Revision Needed:</label>
        <textarea id="revision" name="revision"></textarea><br><br>

        <label for="room">What Room?</label>
        <input type="text" id="room" name="room" required><br><br>

        <label for="date">What Date?</label>
        <input type="date" id="date" name="date" required><br><br>

        <input type="submit" value="Submit" class = 'login'>
    </form>

    <a href="/home/createtask">
        <button type="button">Back To Exams</button>
    </a>
</body>