<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<h2>Edit Exam</h2>
<form method="POST">
  Name: <input type="text" name="name" value="{{ exam.name }}"><br>
  Type: <input type="text" name="type" value="{{ exam.type }}"><br>
  Subject: <input type="text" name="subject" value="{{ exam.subject }}"><br>
  Room: <input type="text" name="room" value="{{ exam.room }}"><br>
  Date: <input type="date" name="date" value="{{ exam.date.strftime('%Y-%m-%d') if exam.date }}"><br>
  Revision Notes: <textarea name="revision">{{ exam.revision }}</textarea><br>

  <button type="submit">Save</button>
</form>

<nav>
  <a href="{{ url_for('view_exam', exam_id=exam.id, origin='week') }}"><button>Cancel</button></a>
</nav>
