<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>

<body>

    <div class="title_bar">
        <h1 class="STUDURA">WELCOME TO STUDURA</h1>

        {% if current_user.is_authenticated %}
            <h2 style="margin-top: 10px;">Welcome back, {{ current_user.username }}!</h2>
        {% endif %}
    </div>
        <nav>
            <a href="/home"><button>Home</button></a>
            {% if current_user.is_authenticated %}
                <a href="/home/profile"><button>Profile</button></a>
            {% else %}
                <a href="/login"><button>Login</button></a>
            {% endif %}
            <a href="{{ url_for('create_task') }}?origin=home"><button>Create Task</button></a>
            <a href="/home/tasks"><button>Tasks</button></a>
            <a href="/home/exams"><button>Exams</button></a>
            <a href="/logout"><button>Logout</button></a>
        </nav>
    </div>

    <div class="sidebar">
        <nav class = "sidebarcontent">
          <ul class = "sidebarcontent">
            <li class = "sidebarcontent"><a href="/home"><button>Home</button></a></li>
            <li class = "sidebarcontent"><a href="/home/tasks"><button>Tasks</button></a></li>
            <li class = "sidebarcontent"><a href="/home/exams"><button>Exams</button></a></li>
            {% if current_user.is_authenticated %}
                <li class = "sidebarcontent"><a href="/home/profile"><button>Profile</button></a></li>
            {% else %}
                <li class = "sidebarcontent"><a href="/login"><button>Login</button></a></li>
            {% endif %}
            <li class = "sidebarcontent"><a href="/home/calendar/month"><button>Calendar</button></a></li>
            <li class = "sidebarcontent"><a href="/logout"><button>Logout</button></a></li>
          </ul>
        </nav>
    </div>
    
    {% if insights %}
        <div class="insights-card">
            <h3>Studura Insight</h3>
            <ul>
            {% for tip in insights %}
                <li>{{ tip | safe }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}


</body>
</html>
