<!DOCTYPE HTML>

<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <title>Demo Page</title>

    </head>

    <body>
        <a href = '/'><button> Return to Welcome Page</button></a>
        <div class = 'title_bar'>
            <h1 class = 'STUDURA'> WELCOME TO STUDURA <h1>
            <nav>
                <a href = '/home'><button> Home </button></a>
                <a href = '/home/create_task'><button> Create Task </button></a>
                <a href = '/home/tasks'><button> Tasks </button></a>
            </nav>
        </div>


    </body>