
<head> 

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> </link>

</head>



<h2>All Tasks</h2>

{% if tasks %}
  <ul>
    {% for task in tasks %}
      <li>
        <strong>{{ task.name }}</strong> ({{ task.type }})<br>
        Subject: {{ task.subject }}<br>
        Description: {{ task.describe }}
      </li>
      <hr>
    {% endfor %}
  </ul>
{% else %}
  <p>No tasks yet. Go create one!</p>
{% endif %}

<nav>
    <a href = '/home'><button> Back Home </button></a>
    <a href = '/home/createtask/create'><button> Create Another Task </button></a>
</nav>